.aside-nav {
	border: $border-gray;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	margin-bottom: 33px;

	&__item {
		border-bottom: $border-gray;

		&--active {
			background-color: #f4f4f4;

            & .aside-nav__link {
              cursor: default;
            }
		}
	}

	&__link {
		display: block;
		padding: 10px 20px;
		color: $color-brand-1;
		text-decoration: none;

		&:hover {
			background-color: #f4f4f4;
			text-decoration: none;
		}
	}

	@media screen and (max-width:$screen-xs-max) {
		display: none;
	}
}