.aside-basket {
	border: $border-width solid $grey-brand-2;
	box-shadow: 0px 5px 15px 0px $grey-brand-2;
	padding: 20px;
	border-radius: $border-radius;
	background: #f4f4f4;
	position: sticky;
	top: 15px;
	z-index: 10;

	&__tbody, tbody {
		@media (max-width: $screen-md-max) {
			display: block;
		}
	}

	&__total-count {
		color: #6a6a6a;
		font-size: 14px;
	}

	&__empty {
		padding: 10px 5px 0; 
	}

	&__table {
		display: table;
		width: 100%;
		border-bottom: 1px solid $grey-brand-2;
		font-size: 14px;
		word-wrap: break-word;
		overflow-wrap: break-word;

		&:last-child {
			border-bottom: none;
		}
	}

	&__wrap {
		margin-left: -20px; 
		margin-right: -20px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__tr {
		display: table-row;
        border-bottom: 1px solid $grey-brand-2;

        &:last-child {
        	border-bottom: none;
        }
	}

	&__td {
		display: table-cell;
		padding: 8px 5px;
		vertical-align: top;
		flex-grow: 1;
		position: relative;

		&:first-child {
			@media (min-width: $screen-lg-min) {
				max-width: 115px;
			}
		}

		&:last-child,  &:first-child {
			&:after {
				position: absolute;
				content: "";
				bottom: -1px;
				left: -10px;
			}
		}

		&--fix {
			flex-grow: 0;
			flex-shrink: 0;
		}

		&--fix1 {
			width: 56px;
			flex-basis: 56px;
		}

		&--title {
			font-size: 13px;
		}

	}

	&__count {
		padding-left: 3px;
		padding-right: 3px;
		text-align: center;
		width: 36px;
		margin-top: -7px;
	}

	&__cost {
		display: inline-block;
		margin-top: -4px;
	}

	&__delete {
		margin-top: 7px;
		display: block;
		width: 10px;
		height: 10px;
		position: relative;
		cursor: pointer;

		&:before, &:after {
			position: absolute;
			content: '';
			height: 1px;
			width: 100%;
			top: 50%;
			margin-top: -1px;
			left: 0;
			background: $red-brand-2;
		}

		&:hover {
			&:before, &:after {
				background: lighten($red-brand-2, 10%);
			}
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__delete-space {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		margin-top: -20px;
		left: 50%;
		margin-left: -20px;
	}

	&__total {
		font-size: 21px;
		font-weight: $font-medium;
	}

	&__total-rub {
		font-size: 18px;
		font-weight: $font-medium;
	}

	@media (max-width: $screen-md-max) {

		&__table {
			display: block;
		}

		&__tr {
			display: flex;
			min-width: 100%;
			flex-grow: 1;
			flex-wrap: wrap;
			border-bottom: 1px solid $grey-brand-2;
			margin-left: -15px;
			margin-right: -15px;
			padding: 10px;
		}

		&__td {
			align-self: center;
			border-bottom: none;
			padding: 5px 10px;

			&:last-child,  &:first-child {
				&:after {
					display: none;
				}
			}

			&--title {
				flex-grow: 1;
				width: 100%;
				flex-basis: 100%;
			}
		}
	}
}