.breadcrumbs { 
	display: block;
	position: relative;
	z-index: 40;
	color: $grey-brand-1;
	padding-bottom: 20px;

	&__list {
		@include clearfix();
	}

	&__item { 
		display: inline;
		letter-spacing: normal;
		line-height: 1;
		color: #fff;

		&:after {
			content: '\2014';
			padding: 0 3px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	&__link, &__last { 
		color: #fff;
		text-decoration: none;
		font-size: $font-size-h6;
		line-height: 1.2;
	}

	&__link:hover { 
		text-decoration: underline;
	}
	
}

@media print {
	.breadcrumb { display: none;}
}