.fixed-quad {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 50;
	width: 60px;
	height: 60px;
	padding-top: 23px;
	background: #2d3142;
	font-size: 9px;
	line-height: 1.4;
	color: #fff;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	
	&:hover, &:active {
		box-shadow: 0px 0px 10px #2d3142;
	}
}