.fullscreen-menu {

	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
	transform: translateY(-100%);
	transition: transform $transition-duration*2 ease;


	&__inner {
		position: absolute;
		width: 100%;
		top: 125px;
		bottom: 0;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: $color-brand-6;

        @media (max-width: $screen-xs-max) {
            top: $header-height-mobile;
        }
	}

	&__list {
		position: relative;
	}

	&__item {
		position: relative;

		&.active {
			&>.fullscreen-menu__link {
				color: $color-brand-3;
			}	
		}	

	}


	&__arrow {
		position: absolute;
		display: block;
		width: $header-height-mobile;
		height: 48px; 
		top: 0;
		right: 0;
		background: transparent;
		border: 0px none;
		padding: 0;

		&:focus {
			outline: none;
		}

		&:before, &:after {
			position: absolute;
			content: "";
			width: 3px;
			height: 10px;
			background: $grey-brand-1;
			border-radius: 1.5px;
			top: ( 48px - 10px ) /2;
			left: ($header-height-mobile - 3px) / 2;
		}

		&:before {
			transform: rotate(-45deg);
			transform-origin: right bottom 0;
		}
		
		&:after {
			transform: rotate(45deg);
			transform-origin: left bottom 0;
		}
	}



	&__link {
		display: block;
		color: $color-brand-1;
		padding: 15px;
		@include no-decoration();
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: - ( $header-height-mobile );
			z-index: 10;
			height: 1px;
			background:  $grey-brand-2;

		}

		&:hover {
			color: $color-brand-3;
		}
	}

	&__link {
		font-size: 21px;
	}



	
}

.fullscreen-menu-open {
	@media (max-width: $screen-xs-max) {
		overflow: hidden;

		&:before {
			background: rgba(0,0,0, 0.3);
			z-index: 500;
		}

		.page {
			overflow-y: hidden; 

			&__middle {
				display: none;
			}

			&__footer {
				display: none;
			}
		}

		.fullscreen-menu {
			transform: translateY(0);
		}
	}
}