.input,
.textarea {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: $form-el-padding-vert 13px;
    line-height: $form-el-line-height;
    height: $form-el-height;
	font-size: $form-el-font-size;
    border-radius: $border-radius;
    border: $form-el-border solid $input-color-border;
    box-shadow: none;
    background: #fff;
    color: $color-brand-1;

    @include no-appearance;
    @include text-ellipsis;

    overflow: hidden;
    transition: border-color 0.5s;

    &:focus {
        outline: none;
        box-shadow: none;

        &::-webkit-input-placeholder {
            opacity: 0;
        }

        &::-moz-placeholder {
            opacity: 0;
        }

        &:-ms-input-placeholder {
            opacity: 0;
        }
    }

    &.error {
        border-color: $brand-warning;

        &--important {
            border-color: $brand-warning !important;
        }
		
        &:focus {
            border-color: $brand-warning;
        }
    }

    &.valid {
        border-color: $input-color-border-valid;
    }

    &:disabled, &[readonly] {
        opacity: 0.4;
    }

    &::-ms-clear {
        display: none;
    }

    &::-webkit-input-placeholder {
        color: $form-el-placeholder-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &::-moz-placeholder {
        color: $form-el-placeholder-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:-ms-input-placeholder {
        color: $form-el-placeholder-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

    &--no-ellipsis {
       text-overflow: clip; 
    }

    &--small {
        font-size: $form-el-small-font-size;
        line-height: $form-el-small-line-height;
        padding: $form-el-small-padding-vert $form-el-small-padding-hor;
        height: $form-el-small-height;
    }
    
    &--big {
        font-size: $form-el-big-font-size;
        line-height: $form-el-big-line-height;
        padding: $form-el-big-padding-vert $form-el-big-padding-hor;
        height: $form-el-big-height;
    }

    &--fill {
        background-color: #f9f8f8;
    }

    &--short {
        width: 120px;
    }

    &--date {
        //background: transparent;
        padding-right: 30px;
        position: relative;
        z-index: 5;
    }
}

.textarea {
    max-height: 350px;
    min-height: 60px;
    max-width: 100%;
    text-overflow:  clip;
    white-space: pre-line;
    overflow-y: visible;
    resize: vertical;
}