$sizeNormal : 100px; 
$sizeSmall : 50px; 

.loading {
	width: $sizeNormal;
	height: $sizeNormal;
	position: relative;
	margin: 0 auto;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -($sizeNormal / 2);
		margin-top: -($sizeNormal / 2);
		width: $sizeNormal;
		height: $sizeNormal;
		content: "";
		border: 2px solid $color-brand-3;
		border-radius: 50%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		animation: en-loading;
		animation-duration:1s;
		animation-timing-function:linear;
 		animation-iteration-count:infinite;   
	}

	&--small {
		width: $sizeSmall;
		height: $sizeSmall;

		&:before {
			margin-left: -($sizeSmall / 2);
			margin-top: -($sizeSmall / 2);
			width: $sizeSmall;
			height: $sizeSmall;
		}
	}


}