html {
  box-sizing: border-box;
  font-size: $font-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
  width: 100%;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0);
        z-index: -1;
        transition: background $transition-duration*2, z-index $transition-duration*2;

        .blind & {
            display: none;
        }
    }

    &.blind {
        min-width: $container-large-desktop;
        overflow-x: auto;
        position: relative;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-brand-1;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  transition: all $transition-duration;

  &:focus {
    outline: none;
  }
  
}

@font-face {
    font-family: Iconfont; /* Гарнитура шрифта */
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/Iconfont.woff2) format('woff2');
}



@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light-italic.woff2') format('woff2'),
         url('../fonts/raleway-light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-italic.woff2') format('woff2'),
         url('../fonts/raleway-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-medium-italic.woff2') format('woff2'),
         url('../fonts/raleway-medium-italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold-italic.woff2') format('woff2'),
         url('../fonts/raleway-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Iconfont';
    src: url('../fonts/Iconfont.woff2') format('woff2'),
         url('../fonts/Iconfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}