.row, .flex {

	&--no-pad {
		margin-left: 0;
		margin-right: 0;
	}

	&--flex {
		display: flex;
		flex-wrap: wrap;

		&:before, &:after {
			display: none;
		}

		>[class^='col-'] {
			float: none;
			flex: 0 0 auto;
			max-width: 100%;
		}
	}

	&--reverse {
		flex-direction: row-reverse;
	}

	&--vcenter {
		align-items: center;
	}

	&--vtop {
		align-items: top;
	}

	&--vbottom {
		align-items: flex-end;
	}

	&--10px {
		margin-left: -10px;
		margin-right: -10px;
		
		>[class^='col-'] {
			padding-left: 10px;
			padding-right: 10px;
		}

	}

	>.col {
		padding-right: 0;
		padding-left: 0;
	}

	.col--half {
		width: 50%;
		padding-left: $padding-base;
		padding-right: $padding-base;
	}	
}