.shadow-block {
	width: 100%;
	padding: 30px;
	background: $color-brand-6;
	box-shadow: 0px 0px 30px 1px rgba(red($grey-brand-1),green($grey-brand-1), blue($grey-brand-1), 0.19);
	margin-bottom: 60px;

	&--no-indent {
		padding: 0;
	}

	&--radius {
		border-radius: $border-radius;
	} 
	

	&__inner {
		display: flex;
	}

	&__inner2 {
		padding: 20px;
	}

	&__col {
		flex-basis: 50%;
		width: 50%;
	}

	&--mb0 {
		margin-bottom: 0;
	}

	&--pt0 {
		padding-top: 0;
	}

    &__top {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 21px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -30px;
        right: -30px;
        border-top: 1px solid $grey-brand-3;
      }
    }

    &__title {
      margin: 0;
      font-size: 2.1875rem;
      font-weight: 500;
      line-height: 2.1875rem;
      color: #030303;
      text-align: left;
    }

	&__bottom {
		position: relative;
		padding-top: 15px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -30px;
			right: -30px;
			border-top: 1px solid $grey-brand-3;
		}
	}

	@media (max-width: $screen-xs-max) {
		&__inner {
			flex-wrap: wrap;
		}

		&__col {
			flex-basis: 100%;
			width: 100%;
			flex-shrink: 0;
		}
	}

}