.usluga {

	&__header {
		display: flex;
		position: relative;
		padding: 10px 22px;
		align-items: center;

		&--pointer {
			cursor: pointer;
		}
	}

	&__title {
		flex-grow: 1;
	}

	&__icon-holder {
		flex-grow: 0;
	}

	&__icon-wrapper {
		display: inline-block;
		width: 40px;
		height: 40px;

		@include vertical-align-middle();
	}

	&__text {
		height: 0px;
		overflow: hidden;
		opacity: 0;
		padding-bottom: 0;
		transition: opacity $transition-duration;
		border-top: 1px solid #bcbcbc;

		&--tip {
			display: none;
		}

		.usluga.active & {
			height: auto;
			padding: 0;
			opacity: 1;
			padding: 20px;

			&--tip {
				display: block;
			}
		}
	}
}