@mixin h5 () { 
	font-size: $font-size-h5;
	font-weight: $font-bold;
	line-height: $line-height-h5;
	color: $color-brand-1;
	margin: $h5-indent-top 0 $h5-indent-bottom 0;
	text-align: left;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media (max-width: $screen-sm-max) {
		font-size: $font-size-h5-sm;
		line-height: $line-height-h5-sm;
	}

	@media (max-width: $screen-xs-max) {
		font-size: $font-size-h5-xs;
		line-height: $line-height-h5-xs;
	}
}